.sideBox {
	padding-top: 20px;
	height: 400px;
	width: 400px;
	text-align: center;
	font-family: Tahoma;
	font-size: 18px;
}

#circle { 
   width: 140px;
   height: 140px;
   background: white; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}
