.sideBox {
	padding-top: 20px;
	height: 250px;
	width: 250px;
	text-align: center;
	font-family: Tahoma;
	font-size: 18px;
}

#circle { 
   width: 70px;
   height: 70px;
   background: white; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}

.form-inline {
	
	padding: 5px;
	
}

#redValueBox {
	
	background-color: #ffb3b3;
}
#blueValueBox {
	
	background-color: #cce6ff;
}
#greenValueBox {
	
	background-color: #ccffcc;
}
