<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/vendor/angular.min.js"></script>
    <title>Angular Practice</title>
    <link href="btstrp/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/angPractice.css" rel="stylesheet">
  </head>
  <body ng-app="angPractice">
    <h1><center>Color Game<center></h1>
	<div class="main" ng-controller="MainController">
		<div class="container">
			<div class=row">
				<div class="col-md-3">
					<center><p class="redValue">Change the Red Value: <!--{{ colors.redValue }}--></p></center>
					<button type="button" class="btn btn-danger" ng-click="increaseRed()">Increase</button>
					<button type="button" class="btn btn-danger" ng-click="decreaseRed()">Decrease</button>
					<button type="button" class="btn btn-danger" ng-click="resetRed()">Reset</button>
					<center><p class="blueValue">Change the Blue Value: <!--{{ colors.blueValue }}--></p></center>
					<button type="button" class="btn btn-primary" ng-click="increaseBlue()">Increase</button>
					<button type="button" class="btn btn-primary" ng-click="decreaseBlue()">Decrease</button>
					<button type="button" class="btn btn-primary" ng-click="resetBlue()">Reset</button>
					<center><p class="greenValue">Change the Green Value: <!--{{ colors.greenValue }} --></p></center>
					<button type="button" class="btn btn-success" ng-click="increaseGreen()">Increase</button>
					<button type="button" class="btn btn-success" ng-click="decreaseGreen()">Decrease</button>
					<button type="button" class="btn btn-success" ng-click="resetGreen()">Reset</button>
					<form class="form-inline">
						<center>
						<p class="resetAll">Reset All:</p>
						<button type="button" class="btn btn-default" ng-click="resetAll()">Reset All</button>
						</center>
					</form>
				</div>
				<div class="col-md-6" style="background-color: rgb( {{ colors.redValue }}, {{ colors.blueValue }}, {{ colors.greenValue }});">
					<center><p class="sideBox">Use the buttons to change my color and find the hidden surprise!</p></center>
					<p id="circle"></p>
				</div>
				<div class="col-md-3">
					<h4>Or manually set them!</h4>
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="redValueBox">Red:</label>
							<input type="number" class="form-control" id="redValueBox" placeholder="0 to 255" min="0" max="255" name="newRedValue" 
							ng-model="colors.redValue">
						</div>
					</form>
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="greenValueBox">Green:</label>
							<input type="number" class="form-control" id="greenValueBox" placeholder="0 to 255" min="0" max="255" name="newGreenValue"
							ng-model="colors.greenValue">
						</div>
					</form>
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="blueValueBox">Blue:</label>
							<input type="number" class="form-control" id="blueValueBox" placeholder="0 to 255" min="0" max="255" name="newBlueValue" 
							ng-model="colors.blueValue">
						</div>
					</form>
				</div>
			</div>
			<div class="row" id="lowerRow">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					
				</div>
			</div>
		</div>
	</div>   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="btstrp/js/bootstrap.min.js"></script>
	<!-- Modules -->
	<script src="js/app.js"></script>
	<!-- Controllers -->
	<script src="js/controllers/mainController.js"></script>
	<!-- Directives -->
	<!-- <script src="js/directives/codeCourse.js"></script> -->
  </body>
</html>
